[
  {
    "nickname": "hhlslackbot",
    "server": "irc.freenode.org",
    "token": "CHANGEME",
    "muteBridgedUsers": false
    "channelMapping": {
      "hallitus": "#hallitus.helsinki.hacklab.fi",
      "#hacklab_fi": "#hacklab.fi",
      "#helsinki_hacklab_fi": "#helsinki.hacklab.fi"
    }
  }
]
